@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
body {
  position: relative;
  height: 100%;
  background-color: #2C3333;
  color: #fff;
  font-family: 'Bebas Neue', cursive;
}
.navbar{
  font-family: 'Anton', sans-serif;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 50px;
  width: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.detail {
  width: 200px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  
}
.bodycard {
  font-size: 24px;
  margin-top: 20px;
  background-color: #000;
  cursor: pointer;
}
.displaY-detail{
  background-color: #395B64;
}
.card{
  border: 3px solid #000;
  cursor: pointer;
}